<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<!-- 누가 이 XML 을 사용할까? 누구와 연결? -->
<mapper namespace="com.spring.main.dao.AdminDAO">
<!-- 	<select id="adminCheck" resultType="admin">
		SELECT admin_id FROM admin WHERE admin_id=#{param1}
	</select> -->
	
	<select id="adminList" resultType="admin">
		SELECT * FROM admin WHERE admin_id='admin' ORDER BY reg_date DESC
	</select>
	
	<update id="change">
		UPDATE admin SET password=#{param1} WHERE admin_id=#{param2}  
	</update>
	
	<delete id="adminDelete">
		DELETE FROM admin WHERE admin_id=#{param1}
	</delete>
	
	<select id="idCheck" resultType="int">
		SELECT count(admin_id) FROM admin WHERE admin_id=#{param1}
	</select>
	
	<select id="nickCheck" resultType="int">
		SELECT count(nickname) FROM admin WHERE nickname=#{param1}
	</select>
	
	<insert id="insert">
		INSERT INTO admin(admin_id,nickname,password,reg_date) VALUES(#{param1}, #{param2}, #{param3},SYSDATE)
	</insert>
	
	<select id="search" parameterType="hashMap" resultType="admin">
		SELECT * FROM admin	
		<where>
			<if test="!keyword.equals('') and search == 'id'">admin_id LIKE '%'||#{keyword}||'%'</if>
			<if test="!keyword.equals('') and search == 'nickname'">nickname LIKE '%'||#{keyword}||'%'</if>
		</where>
	</select>
	
	<select id="memberList" resultType="member">
		SELECT * FROM member ORDER BY reg_date DESC
	</select>
	
	<select id="blackList" resultType="member">
		SELECT * FROM member WHERE black='Y' AND withdraw='N' ORDER BY reg_date DESC
	</select>
	
	<select id="withdrawList" resultType="member">
		SELECT * FROM member WHERE black='N' AND withdraw='Y' ORDER BY reg_date DESC
	</select>
	
	<select id="memberSearch" parameterType="hashMap" resultType="member">
		SELECT * FROM member	
		<where>
			<if test="!keyword.equals('') and search == 'id'">id LIKE '%'||#{keyword}||'%'</if>
			<if test="!keyword.equals('') and search == 'nickname'">nickname LIKE '%'||#{keyword}||'%'</if>
		</where>
	</select>
	
	<select id="blackSearch" parameterType="hashMap" resultType="member">
		SELECT * FROM member
		<where>
			<if test="!keyword.equals('') and search == 'id'">id LIKE '%'||#{keyword}||'%'</if>
			<if test="!keyword.equals('') and search == 'nickname'">nickname LIKE '%'||#{keyword}||'%'</if>
		</where>
		 AND black='Y'
	</select>
	
	<select id="withdrawSearch" parameterType="hashMap" resultType="member">
		SELECT * FROM member	
		<where>
			<if test="!keyword.equals('') and search == 'id'">id LIKE '%'||#{keyword}||'%'</if>
			<if test="!keyword.equals('') and search == 'nickname'">nickname LIKE '%'||#{keyword}||'%'</if>
		</where>
		AND withdraw='Y'
	</select>
	 
	 <select id="detailMember" resultType="member">
	 	SELECT id,name,age,gender,email,reg_date,black,withdraw,change_date,nickname,point,grade FROM member WHERE id=#{param1}
	 </select>
	 
	 <select id="detailPet" resultType="pet">
	 	SELECT p.pet_idx, p.dog_cat, p.pet_name, p.bday, p.kg, pi.newFileName FROM pet p, pet_img pi WHERE p.id=#{param1} AND p.pet_idx = pi.pet_idx
	 </select> 
	 
	 <update id="restoreWithdraw">
	 	UPDATE member SET withdraw='N' WHERE id=#{param1}
	 </update>
	 
	 <select id="toggleMemberDisable" resultType="String">
	 	SELECT black FROM member WHERE id=#{param1}
	 </select>
	 
	 <update id="memberBlackY">
	 	UPDATE member SET black='Y' WHERE id=#{param1}
	 </update>
	 
	 <update id="memberBlackN">
	 	UPDATE member SET black='N' WHERE id=#{param1}
	 </update>
	 
<!-- 	 <insert id="insertBlack">
	 	INSERT INTO blackList(black_idx, id, admin_id, reg_date, black_cnt) VALUES(seq_blackList.NEXTVAL, #{param1}, , SYSDATE, black_cnt+1)
	 </insert> -->
	 
	 <select id="reportList" resultType="report">
	 	SELECT * FROM report WHERE proc_ex='N' AND type != 'com' ORDER BY reg_date
	 </select>
	 
	 <select id="finishList" resultType="report">
	 	SELECT * FROM report WHERE proc_ex='Y' AND type != 'com' ORDER BY reg_date DESC
	 </select>
	 
	 <select id="replyList" resultType="report">
	 	SELECT * FROM report WHERE proc_ex='N' AND type= 'com' ORDER BY reg_date
	 </select>
	 
	  <select id="finishReplyList" resultType="report">
	 	SELECT * FROM report WHERE proc_ex='Y' AND type = 'com' ORDER BY reg_date DESC
	 </select>
	 
<!-- 	 <select id="typeReportList" resultType="report" parameterType="String">
		SELECT * FROM report
		<where>
			<if test="#{type} == 'tip'">type ='tip'</if>
			<if test="#{type} == 'gal'">type ='gal'</if>
			<if test="#{type} == 'fed'">type ='fed'</if>
			<if test="#{type} == 'res'">type ='res'</if>
			<if test="#{type} == 'run'">type ='run'</if>
		</where>
		 AND proc_ex='N'
	</select> -->
	
	<select id="tipReportList" resultType="report">
	 	SELECT * FROM report WHERE proc_ex='N' AND type ='tip' ORDER BY reg_date
	 </select>
	
	<select id="galReportList" resultType="report">
	 	SELECT * FROM report WHERE proc_ex='N' AND type ='gal' ORDER BY reg_date
	 </select>
	 
	 <select id="fedReportList" resultType="report">
	 	SELECT * FROM report WHERE proc_ex='N' AND type ='fed' ORDER BY reg_date
	 </select>
	 
	 <select id="resReportList" resultType="report">
	 	SELECT * FROM report WHERE proc_ex='N' AND type ='res' ORDER BY reg_date
	 </select>
	 
	 <select id="runReportList" resultType="report">
	 	SELECT * FROM report WHERE proc_ex='N' AND type ='run' ORDER BY reg_date
	 </select>
	 
	 <select id="reportSearch" parameterType="hashMap" resultType="report">
		SELECT * FROM report	WHERE id LIKE '%'||#{keyword}||'%' AND proc_ex='N'
	</select>
	
	<select id="finishListSearch" parameterType="hashMap" resultType="report">
		SELECT * FROM report	WHERE id LIKE '%'||#{keyword}||'%' AND proc_ex='Y'
	</select>
	
	<select id="detailReply" resultType="reply">
		SELECT 
	</select>
	
	<select id="blindNList" resultType="board">
		SELECT * FROM bbs WHERE bbs_blind='N' ORDER BY reg_date DESC
	</select>
	
	<select id="blindYList" resultType="board">
		SELECT * FROM bbs WHERE bbs_blind='Y' ORDER BY reg_date DESC
	</select>
	
	<update id="blindY">
		UPDATE bbs SET bbs_blind='Y' WHERE bbs_idx=#{param1}
	</update>
	
	<update id="blindN">
		UPDATE bbs SET bbs_blind='N' WHERE bbs_idx=#{param1}
	</update>
	
	 <select id="blindNSearch" parameterType="hashMap" resultType="board">
		SELECT * FROM bbs	WHERE nickname LIKE '%'||#{keyword}||'%' AND bbs_blind='N'
	</select>
	
	 <select id="blindYSearch" parameterType="hashMap" resultType="board">
		SELECT * FROM bbs	WHERE nickname LIKE '%'||#{keyword}||'%' AND bbs_blind='Y'
	</select>
</mapper>












