<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.BoardDAO">

	<select id="tab" resultType="board" parameterType="map">
		SELECT b.bbs_idx,b.bbs_content,b.reg_date,b.bbs_blind,b.reco_count,b.type,b.nickname,b.category_name,b.pet_idx,bi.orifilename ,bi.newfilename
		FROM bbs b JOIN bbs_img bi ON bi.bbs_idx(+)=b.bbs_idx
		<if test="dog_cat.equals('dog')">		
			WHERE b.bbs_blind='N' AND b.pet_idx in
			(SELECT p.pet_idx FROM pet p WHERE p.dog_cat='dog')ORDER BY b.bbs_idx ASC
		</if>
		<if test="dog_cat.equals('cat')">
			WHERE b.bbs_blind='N' AND b.pet_idx in
			(SELECT p.pet_idx FROM pet p WHERE p.dog_cat='cat')ORDER BY b.bbs_idx ASC
		</if>
		<if test="dog_cat.equals('all')">
			WHERE bbs_blind='N' ORDER BY bbs_idx ASC
		</if>	 
	</select>
	
	<insert id="write" 
		useGeneratedKeys="true"
		keyProperty="bbs_idx"
		keyColumn="bbs_idx"
		parameterType="board">
	INSERT INTO bbs(bbs_idx,nickname,bbs_subject,bbs_content,views)
		VALUES(bbs_seq.NEXTVAL, #{nickname},#{bbs_subject},#{bbs_content},0)	
	</insert>
	
	<insert id="writeFile">
		INSERT INTO bbs_img(newFileName, oriFileName, bbs_idx)
			VALUES(#{param1},#{param2},#{param3})
	</insert>

	<select id="bbsTop5" resultType="board">
		SELECT bbs_idx, bbs_subject, bbs_content, nickName,reco_count FROM 
		(SELECT ROW_NUMBER() OVER(ORDER BY reco_count DESC) AS rnum,bbs_idx, bbs_subject, bbs_content, nickName,reco_count FROM bbs WHERE type !='gal')
		 WHERE rnum between 1 and 5 
	</select>

	<select id="galTop3" resultType="board">
		SELECT bbs_idx, newFileName, oriFileName FROM
		(SELECT ROW_NUMBER() over(ORDER BY b.reco_count DESC) AS rnum, bi.bbs_idx, bi.newFileName, bi.oriFileName FROM bbs_img bi, bbs b WHERE b.bbs_idx = bi.bbs_idx AND b.type= 'gal') 
		WHERE rnum BETWEEN 1 AND 3
	</select>

</mapper>