<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.BoardDAO">

	<select id="tab" resultType="board" parameterType="map">
		SELECT b.bbs_idx,b.bbs_subject,b.bbs_content,b.reg_date,b.bbs_blind,b.reco_count,b.type,b.nickname,b.category_name,b.pet_idx,bi.orifilename ,bi.newfilename
		FROM bbs b JOIN bbs_img bi ON bi.bbs_idx(+)=b.bbs_idx
		<if test="dog_cat.equals('dog')">		
			WHERE b.bbs_blind='N' AND b.pet_idx in
			(SELECT p.pet_idx FROM pet p WHERE p.dog_cat='dog')ORDER BY b.bbs_idx ASC
		</if>
		<if test="dog_cat.equals('cat')">
			WHERE b.bbs_blind='N' AND b.pet_idx in
			(SELECT p.pet_idx FROM pet p WHERE p.dog_cat='cat')ORDER BY b.bbs_idx ASC
		</if>
		<if test="dog_cat.equals('all')">
			WHERE bbs_blind='N' ORDER BY bbs_idx ASC
		</if>	 
	</select>
	
	<select id="writeForm" resultType="pet">
		SELECT m.nickname,p.dog_cat,p.kind,p.bday,p.pet_name,p.kg FROM member m JOIN pet p ON m.id = p.id(+) WHERE m.id=#{param1}
	</select>
	
	<insert id="write" 
		useGeneratedKeys="true"
		keyProperty="bbs_idx"
		keyColumn="bbs_idx"
		parameterType="board">
		INSERT INTO bbs(bbs_idx,nickname,bbs_subject,bbs_content,views,type,category_name)
		VALUES(bbs_seq.NEXTVAL, #{nickname},#{bbs_subject},#{bbs_content},0,'tip',#{category_name})	
	</insert>

	<insert id="writeFile">
		INSERT INTO bbs_img(newFileName, oriFileName, bbs_idx)
			VALUES(#{param1},#{param2},#{param3})
	</insert>
	
	<delete id="deletefile">
		DELETE FROM bbs_img WHERE newfilename = #{newfilename}
	</delete>
	
	<delete id="deleteContentFile">
		DELETE FROM bbs_content_img WHERE content_newfilename = #{newfilename}
	</delete>
	
	<insert id="writeContentFile">
		INSERT INTO bbs_content_img(content_newfileName,content_oriFileName,bbs_idx)
			VALUES(#{param1},#{param2},#{param3})
	</insert>
	
	<update id="upViews">
		UPDATE bbs SET views = views+1 WHERE bbs_idx=#{param1}
	</update>
	
	<select id="boardDetail" resultType="board">
		SELECT b.bbs_idx,b.bbs_subject,b.bbs_content,b.reg_date,b.views,b.reco_count,b.nickname,b.pet_idx,b.category_name,p.kind,p.bday,p.pet_name,p.kg
		,(select pi.newfilename from pet_img pi JOIN pet p ON p.pet_idx = pi.pet_idx WHERE p.pet_idx=b.pet_idx) pet_newfilename
		FROM bbs b JOIN pet p ON p.pet_idx(+) = b.pet_idx WHERE b.bbs_idx=#{param1}
	</select>
	
	<select id="viewimg" resultType="board_img">
		SELECT  * FROM bbs_img WHERE bbs_idx=#{param1}
	</select>
	
	<select id="recoConfirm" resultType="hashmap">
		SELECT * FROM recommend WHERE id=#{param1} AND bbs_idx=#{param2}
	</select>
	
	<insert id="recoTableUp">
		INSERT INTO recommend(id,bbs_idx) VALUES (#{param1},#{param2})
	</insert>
	
	<update id="recoPlus">
		UPDATE bbs SET reco_count = reco_count+1 WHERE bbs_idx=#{param1}
	</update>
	
	<delete id="recoTableDown">
		DELETE FROM recommend WHERE id=#{param1} AND bbs_idx=#{param2}
	</delete>
	
	<update id="recoMinus">
		UPDATE bbs SET reco_count = reco_count-1 WHERE bbs_idx=#{param1}
	</update>
	
	<select id="replyList" resultType="reply">
		SELECT r.reply_idx,r.reply_content,r.reg_date,m.nickname FROM reply r, member m WHERE  r.id = m.id AND bbs_idx = #{param2} AND reply_blind='N'
		ORDER BY reply_idx ASC
	</select>
	
	<insert id="replyWrite" parameterType="reply">
		INSERT INTO reply(reply_idx,reply_content,reply_blind,id,bbs_idx) VALUES(reply_seq.NEXTVAL,#{reply_content},'N',#{id},#{bbs_idx})
	</insert>
	
	<select id="replyUpdateForm" parameterType="map" resultType="reply">
		SELECT r.reply_idx,r.reply_content,r.reg_date,m.nickname FROM reply r, member m WHERE  r.id = m.id AND reply_idx = #{reply_idx}
	</select>
	
	<update id="replyUpdate" parameterType="reply">
		UPDATE reply SET reply_content = #{reply_content} WHERE reply_idx=#{reply_idx}
	</update>
	
	<update id="replyDel">
		UPDATE reply SET reply_blind = 'Y' WHERE reply_idx=#{param1}
	</update>
	
	<select id="BoardUpdateForm" resultType="board">
		SELECT b.bbs_idx,b.bbs_subject,b.bbs_content,b.reg_date,b.views,b.reco_count,b.nickname,b.pet_idx,b.category_name,p.kind,p.bday,p.pet_name,p.kg
		,(select pi.newfilename from pet_img pi JOIN pet p ON p.pet_idx = pi.pet_idx WHERE p.pet_idx=b.pet_idx) pet_newfilename
		FROM bbs b JOIN pet p ON p.pet_idx(+) = b.pet_idx WHERE b.bbs_idx=#{bbs_idx}
	</select>
	
	<update id="BoardUpdate" parameterType="board">
		UPDATE bbs SET category_name = #{category_name},bbs_subject = #{bbs_subject} , bbs_content = #{bbs_content} WHERE bbs_idx=#{bbs_idx}
	</update>

	<select id="bbsTop5" resultType="board">
		SELECT bbs_idx, bbs_subject, bbs_content, nickName,reco_count FROM 
		(SELECT ROW_NUMBER() OVER(ORDER BY reco_count DESC) AS rnum,bbs_idx, bbs_subject, bbs_content, nickName,reco_count FROM bbs WHERE type !='gal')
		 WHERE rnum between 1 and 5 
	</select>

	<select id="galTop3" resultType="board">
		SELECT bbs_idx, newFileName, oriFileName FROM
		(SELECT ROW_NUMBER() over(ORDER BY b.reco_count DESC) AS rnum, bi.bbs_idx, bi.newFileName, bi.oriFileName FROM bbs_img bi, bbs b WHERE b.bbs_idx = bi.bbs_idx AND b.type= 'gal') 
		WHERE rnum BETWEEN 1 AND 3
	</select>
	
	<select id="searchBbs" resultType="board">
		SELECT b.bbs_idx, b.bbs_subject, b.bbs_content, b.reco_count, b.views, b.category_name,bi.newfilename, bi.oriFileName  ,b.nickname,b.reg_date FROM 
		(SELECT ROW_NUMBER()OVER(ORDER BY b.bbs_idx DESC) AS rnum,b.bbs_idx, b.bbs_subject, b.bbs_content, b.reco_count, b.views, b.category_name ,b.nickname,reg_date
		FROM bbs b WHERE b.bbs_subject LIKE #{param2} OR b.bbs_content LIKE #{param2} )  b, bbs_img bi
		WHERE rnum BETWEEN #{param3} AND #{param4} AND b.bbs_idx=bi.bbs_idx(+)
		<if test="!param1.equals('ALL')">
			AND CATEGORY_NAME= #{param1}
		</if>
		 ORDER BY b.bbs_idx DESC
	</select>
	
	<select id="allCount" resultType="int">
		SELECT COUNT(bbs_idx) FROM bbs WHERE bbs_subject LIKE  #{param1} OR bbs_content LIKE  #{param1}
	</select>
	
	
	<select id="anCount" resultType="int">
	SELECT Count(bbs_idx) FROM (SELECT * FROM bbs WHERE bbs_subject LIKE  #{param1} OR bbs_content LIKE  #{param1} ORDER BY bbs_idx DESC) 
	WHERE CATEGORY_NAME= #{param2}
	</select>

</mapper>