<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
   "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.GalleryDAO">

	<select id="GalleryList" resultType="board">
		SELECT b.bbs_idx,b.bbs_subject,b.bbs_content,b.reg_date,b.bbs_blind,b.reco_count,b.type,b.nickname,b.category_name,b.pet_idx,bi.orifilename ,bi.newfilename
		FROM bbs b JOIN bbs_img bi ON bi.bbs_idx(+)=b.bbs_idx WHERE bbs_blind='N' AND type='gal' ORDER BY bbs_idx ASC
	</select>
	
	<select id="GalwriteForm" resultType="pet">
		SELECT m.id,m.nickname,p.dog_cat,p.kind,p.bday,p.pet_name,p.kg,p.pet_idx FROM member m JOIN pet p ON m.id = p.id(+) WHERE m.id=#{param1} AND delegate='Y'
	</select>
	<select id="interestConfirm" resultType="hashmap">
		SELECT id,add_id FROM interest WHERE id=#{param1} AND add_id=#{param2}
	</select>
	
	<insert id="addInterestButton">
		INSERT INTO interest(id,add_id) VALUES (#{param1},#{param2})
	</insert>
	
	<delete id="cancleInterestButton">
		DELETE FROM interest WHERE id=#{param1} AND add_id=#{param2}
	</delete>
</mapper>