<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<!-- 누가 이 XML 을 사용할까? 누구와 연결? -->
<mapper namespace="com.spring.main.dao.MemberDAO">
	
	<!-- 탈퇴 -->
	<update id="withdraw">
		UPDATE member SET withdraw = 'Y' WHERE id=#{id}
	</update>
	
	<!-- 비번 일치 확인 -->
	<select id="checkPw" resultType="String">
		SELECT password FROM member WHERE id = #{param1} 
	</select>
	
	<!-- 탈퇴 복구 -->
	<update id="restore">
		UPDATE member SET withdraw = 'N' WHERE id=#{id}
	</update>

	<!-- id로 유저 가져오기 -->
	<select id="getMember" resultType="member">
		SELECT
			id, name, age, gender, email, reg_date, black, withdraw, 
			change_date, nickname, point, grade
		FROM
			member
		WHERE
			id=#{param1}
	</select>

	<!-- 탈퇴일 최신으로 변경 -->
	<update id="updateChangeDate">
		UPDATE
			member
		SET
			change_date=sysdate
		WHERE
			id=#{param1}
	</update>

	<!-- 유저 세부사항 수정 -->
	<update id="update" parameterType="member">
		UPDATE
			member
		<set>
			<if test="password != null">password=#{password},</if>
			<if test="name != null">name=#{name},</if>
			<if test="age != null">age=#{age},</if>
			<if test="gender != null">gender=#{gender},</if>
			<if test="email != null">email=#{email},</if>
			<if test="nickname != null">nickname=#{nickname}</if>
		</set>
		WHERE
			id=#{id}		
	</update>

	<!-- 작성글 목록 -->
	<select id="writeList" resultType="board">
		select * from bbs where nickname = #{param1}  
	</select>
	
	<!-- 글 상세보기 -->
	<select id="detail" resultType="board">
		SELECT 
			idx,subject,content,user_name,reg_date,bHit		
		FROM bbs_kdj WHERE idx=#{param1}
	</select>
	
	<!-- 글 상세보기의 파일 목록  -->
	<select id="fileList" resultType="board">
		SELECT  * FROM bbs_img WHERE bbs_idx=#{param1}
	</select>

</mapper>