<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<!-- 누가 이 XML 을 사용할까? 누구와 연결? -->
<mapper namespace="com.spring.main.dao.MemberDAO">
	
	<!-- 탈퇴 -->
	<update id="withdraw">
		UPDATE member SET withdraw = 'Y' WHERE id=#{id}
	</update>
	
	<!-- 비번 일치 확인 -->
	<select id="checkPw" resultType="String">
		SELECT password FROM member WHERE id = #{param1} 
	</select>
	
	<!-- 탈퇴 복구 -->
	<update id="restore">
		UPDATE member SET withdraw = 'N' WHERE id=#{id}
	</update>

	<!-- 작성글 목록 -->
	<select id="writeList" resultType="board">
		select * from bbs where nickname = #{param1}  
	</select>
	
	<!-- 글 상세보기 -->
	<select id="detail" resultType="board">
		SELECT 
			idx,subject,content,user_name,reg_date,bHit		
		FROM bbs_kdj WHERE idx=#{param1}
	</select>
	
	<!-- 글 상세보기의 파일 목록  -->
	<select id="fileList" resultType="board">
		SELECT  * FROM bbs_img WHERE bbs_idx=#{param1}
	</select>

</mapper>