<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<!-- 누가 이 XML 을 사용할까? 누구와 연결? -->
<mapper namespace="com.spring.main.dao.MemberDAO">
	<update id="withdrawa">
		UPDATE member SET withdraw = 'Y' WHERE id=#{id}
	</update>
	
	<select id="checkPw" resultType="String">
		SELECT password FROM member WHERE id = #{param1} 
	</select>
	
	<update id="restore">
		UPDATE member SET withdraw = 'N' WHERE id=#{id}
	</update>

</mapper>