<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<!-- 누가 이 XML 을 사용할까? 누구와 연결? -->
<mapper namespace="com.spring.main.dao.MemberDAO">
	<insert id="noteSend">
		insert into note(note_idx,id,receiving_id,content) values(note_seq.nextval,'test1122',#{param1},#{param2})
	</insert>
	
	<!-- <insert id="noteSend">
		insert into note(note_idx,id,content) values(note_seq.nextval,#{id},#{content})
	</insert> -->
	
	<select id="MessageList" resultType="com.spring.main.dto.NoteDTO">
		select note_idx,id,content,reg_date,checked from note where receiving_id = #{param1} and del='N' order by note_idx desc
	</select>
	
	<select id="sendList" resultType="com.spring.main.dto.NoteDTO">
		select note_idx,receiving_id,content,reg_date from note where id = #{param1}  order by note_idx desc
	</select>
	
	<update id="delMessage">
		UPDATE note SET del = 'Y' WHERE note_idx=#{note_idx}
	</update>
	
	<select id="detailList" resultType="com.spring.main.dto.NoteDTO">
		select content,id from note where  receiving_id = #{param1} and note_idx = #{param2} 
	</select>
	
	<!-- <select id="detailNoteList" resultType="com.spring.main.dto.NoteDTO">
		select id,content from note where receiving_id = #{param1} and note_idx = #{param2} 
	</select> -->
	
	<update id="checked">
		UPDATE note SET checked = 'Y' WHERE note_idx=#{note_idx} 
	</update>
	
	<select id="writeList" resultType="com.spring.main.dto.NoteDTO">
		select bbs_idx,bbs_subject,bbs_content,category_name from bbs where nickname = #{param1}  
	</select>
	
		<insert id="write" 
		useGeneratedKeys="true"
		keyProperty="bbs_idx"
		keyColumn="bbs_idx"
		parameterType="board">
	INSERT INTO bbs(bbs_idx,nickname,bbs_subject,bbs_content,views)
		VALUES(bbs_seq.NEXTVAL, #{nickname},#{bbs_subject},#{bbs_content},0)	
	</insert>
	
</mapper>