<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<!-- 누가 이 XML 을 사용할까? 누구와 연결? -->
<mapper namespace="com.spring.main.dao.PetDAO">
	<!-- 반려동물 목록 -->
	<select id="list"  resultType="com.spring.main.dto.PetDTO">
		SELECT kind,bday,pet_name,kg,pet_idx,delegate FROM pet WHERE id=#{param1} ORDER BY pet_idx DESC
	</select>
	
	<!-- 반려동물 등록 -->
	<insert id="write" 
		useGeneratedKeys="true"
		keyProperty="pet_idx"
		keyColumn="pet_idx"
		parameterType="pet">
		INSERT INTO pet(pet_idx,pet_name,bday,dog_cat,kind,kg,id)
			VALUES(pet_seq.NEXTVAL,#{pet_name},#{bday},#{dog_cat},#{kind},#{kg},#{id})
	</insert>
	
	<!-- 사진 저장 -->
	<insert id="writeFile">
		INSERT INTO pet_img(photo_idx,newFileName,oriFileName,reg_date,pet_idx)
			VALUES(pet_img_seq.NEXTVAL,#{param3},#{param2},SYSDATE,#{param1})
	</insert>
	
	<!-- 파일 리스트 -->
	<select id="photoList" resultType="photos">
		SELECT  * FROM pet_img WHERE pet_idx=#{param1}
	</select>
	
	<!-- 반려 동물 삭제 -->
	<delete id="deletePet">          
		DELETE FROM pet WHERE pet_idx=#{param1} 
	</delete>

	<!-- 고양이 접종 목록 -->
	<select id="vac_cat" resultType="vaccin">
		SELECT*FROM vaccin WHERE dog_cat = 'cat'
	</select>
	
	<!-- 강아지 접종 목록 -->
	<select id="vac_dog" resultType="vaccin">
		SELECT*FROM vaccin WHERE dog_cat = 'dog'
	</select>
	
	<!-- 백신 idx -->
	<select id="getIdx" resultType="int">
		SELECT vacc_idx FROM vaccin WHERE vacc_name=#{param1}
	</select>
</mapper>