<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd"
>

<mapper namespace="com.spring.main.dao.RegistDAO">	
	
	<insert id="registMember" parameterType="member">
		INSERT INTO
			member(id, password, name, age, gender, email, nickname)
		VALUES
			(#{id}, #{password}, #{name}, #{age}, #{gender}, #{email}, #{nickname})
	</insert>

	<select id="checkDuplicateId" resultType="int">
		SELECT
			count(*)
		FROM
			member
		WHERE
			id = #{param1}
	</select>

	<select id="checkDuplicateNickname" resultType="int">
		SELECT
			count(*)
		FROM
			member
		WHERE
			nickname = #{param1}
	</select>

</mapper>












